@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@ViewData["error"]</p>
    <p>@ViewData["uid"]</p>
    <p>@ViewData["username"]</p>
    <p>@ViewData["image"]</p>
    <p>@ViewData["imageMime"]</p>
    <p>@ViewData["description"]</p>
    <p>@ViewData["pronouns"]</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
